<div style="margin-left: 50px; max-width: 600px;">
  <p style="color: white;">
    Soy estudiante de Ingeniería Civil en Informática en la Universidad Católica del Norte. Ingresé a esta carrera motivado por mi pasión por los videojuegos y el arte, creyendo que esta disciplina sería una excelente oportunidad para complementar mis intereses y desarrollar las habilidades necesarias para crear mis propios diseños y convertirme en un destacado programador.  
    <br><br>
    Con el tiempo, he ido descubriendo nuevos campos de interés, como el desarrollo de páginas web, que encuentro sumamente entretenido tanto en el ámbito del backend como en el frontend, aunque tengo una especial inclinación por el backend. Mi aspiración es trabajar algún día en empresas de renombre internacional y, eventualmente, fundar mi propia compañía.  
    <br><br>
    Disfruto mucho programar en lenguajes como Java, C# y C++. Mi experiencia laboral hasta ahora se ha centrado en la gestión de software, incluyendo la administración de aplicaciones, licencias e instalaciones de sistemas operativos, un área que también considero interesante y desafiante.
  </p>
</div>
