<div class="bg-gradient-to-b from-green-800 via-green-900 to-black min-h-screen">
  <div class="h-16"></div> 
  <div class="flex space-x-4 mt-4">
    <div class="ml-4">
      <app-card class="mr-4">Card Placeholder</app-card>
    </div>
    <div class="flex flex-col space-y-4">
      <app-button-github>GitHub Button Placeholder</app-button-github>
      <app-button-contacto>Contact Button Placeholder</app-button-contacto>
    </div>
  </div>
  <div class="mt-8">
    <app-explab></app-explab>
  </div>
  <div class="mt-8">
    <app-sobremi></app-sobremi>
  </div>
  <div class="h-16"></div> 
</div>
